:root {
    --accent: #421b1b;
  }

* {
    font-family: broadsheet, serif;
}

body {
    margin: 0px;
    background-color: black;
}

#grain > * { 
    position: relative; 
    padding: 50px;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: white; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--accent)
}

/*Text*/
h1 {
    font-family: antiquarian-scribe, sans-serif;
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

#nav h1:hover {
    color: var(--accent)
}

#nav h1:hover span {
    color: var(--accent)
}

h2 {
    font-family: broadsheet, serif;
    font-style: italic;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

#nav h2:hover {
    color: var(--accent)
}

p {
    font-family: broadsheet, serif;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*Sections*/
#nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 999;
}

#work-prev {
    margin-left: 15%;
}

#about-me {
    margin: auto;
    width: 50%;
}

#about-me .column {
    width: 100%;
}

h1 span {
    font-family: antiquarian-scribe, sans-serif;
    color: white;
    font-size: 2.5rem;
}

#nav h1 {
    padding-bottom: 15px;
}

.move {
    position: relative;
    top: -6px;
    left: 5px;
}

.work {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 15px;
    gap: 15px;
}

.project {
    display: flex;
    margin: auto;
    width: 50%;
}

.item {
    position: relative;
}

a .item {
    display: block;
    width: 100%;
    height: 100%;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: black;
}

.item:hover .overlay {
    opacity: 0.75;
}

.item .label {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    padding-left: 15px;
    padding-top: 10px;
}

.item:hover .label {
    opacity: 1;
}

#project-details h1 {
    text-align: center;
}

#project-details p {
    padding-top: 25px;
}

#project-details img {
    width: 50%;
}

#project-details small {
    color: white;
}

.project-name {
    font-weight: 400;
}

iframe {
    width: 100% !important;
}

.programs {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.programs svg {
    height: 100%
}

.description-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.description-columns {
    display: flex;
    flex-flow: row-reverse;
    padding: 25px 0;
    gap: 15px;
}

.descriptions {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#project-details .description-columns p {
    padding: 0;
}

@media screen and (max-width: 1024px) {
    #work-prev {
        margin-left: 15%;
    }

    .column {
        width: 48%; /* Adjust column width on medium screens (tablets) */
    }

    .project {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 35px;
    }

    #nav {
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        top: 0;
        width: 100%;
        z-index: 1;
        padding: 5px 0;
        border-bottom: 1px solid white ;
    }

    #work-prev {
        margin-left: 0;
    }

    #about-me {
        margin: 0;
        padding-top: 15px;
    }

    .work {
        padding-top: 15px;
        gap: 15px;
    }

    .column {
        width: 100%; /* Stack columns on small screens */
        padding: 0;
    }

    #project {
        margin: 0;
    }

    .project {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1rem;
    }

    #nav h1 {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 0.9rem;
    }
}