:root {
    --accent: #bebebe;
  }

* {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: black;
}

#grain > *{ 
    position: relative; 
    padding: 50px;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: white; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--accent)
}

/*Text*/
h1 {
    font-family: antiquarian-scribe, sans-serif;
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

.logo:active {
    color: var(--accent);
}

a:active .logo,
a:active span {
  color: var(--accent)
}

.nav-items h2:active {
    color: var(--accent);
}

.social-icons {
    display: flex;
    gap: 5px;
    padding-top: 15px;
}

i {
    color: white;
}

a i:active {
    color: var(--accent);
}

h2 {
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.2rem;
}

p {
    color: white;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0;
}

small {
    padding-bottom: 5px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*Sections*/
#nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 999;
}

#work-prev {
    margin-left: 15%;
}

#project {
    min-height: 100vh;
}

#about-me {
    margin: auto;
    width: 50%;
    height: 100vh;
}

#contact {
    margin: auto;
    width: 35%;
    height: 100vh;
}

#contact .column {
    width: 100%;
    padding: 0;
}

#about-me .column {
    width: 100%;
    padding: 0;
}

h1 span {
    font-family: antiquarian-scribe, sans-serif;
    color: white;
    font-size: 2.5rem;
}

#nav h1 {
    padding-bottom: 15px;
}

button {
    font-family: broadsheet, serif;
    font-size: 1.1rem;
    width: 100px;
    padding: 5px 5px 7px 5px;
    border-radius: 0;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

button:active {
    background-color: var(--accent);
}

.move {
    position: relative;
    top: -6px;
    left: 5px;
}

.work {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 15px;
    gap: 15px;
}

.project {
    display: flex;
    margin: auto;
    width: 50%;
}

.item {
    position: relative;
}

a .item {
    display: block;
    width: 100%;
    height: 100%;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: black;
}

.item:hover .overlay {
    opacity: 0.75;
}

.item .label {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    padding-left: 10px;
    padding-top: 10px;
}

.item:hover .label {
    opacity: 1;
}

#project-details h1 {
    text-align: center;
}

#project-details p {
    padding-top: 25px;
}

#project-details img {
    width: 50%;
    height: auto;
}

#project-details small {
    color: white;
}

iframe {
    width: 100% !important;
}

.programs {
    display: flex;
    flex-direction: column;
    color: white;
}

.programs svg {
    height: 100%
}

.description-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
}

.description-columns {
    display: flex;
    flex-flow: row-reverse;
    padding: 25px 0;
    gap: 15px;
}

.descriptions {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#project-details .description-columns p {
    padding: 0;
}

#contact h1 {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-info {
    display: flex;
    gap: 10px;
}

input {
    height: 25px;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid white;
}

textarea {
    min-height: 100px;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid white;
    resize: none;
}

.contact-form button {
    margin-top: 10px;
    align-self: center;
}

input[type=text], [type=email], textarea  {
    color: white;
}

input[type=text], [type=email], textarea:focus {
    outline: none;
}

.form-message {
    display: none;
    text-align: center;
}

.form-message.show {
    display: block;
}

.success-msg {
    color: white;
}

@media screen and (max-width: 992px) {
    #grain {
        padding: 0 35px 35px 35px;
    }

    #nav {
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        top: 0;
        width: 100%;
        z-index: 1;
        padding: 5px 0;
        border-bottom: 1px solid white ;
    }

    #nav .logo {
        padding: 0;
    }

    #work-prev {
        margin-left: 0;
        padding: 0;
    }

    #about-me {
        margin: 0;
        padding: 0;
        padding-top: 15px;
        width: 100%;
    }

    .work {
        padding-top: 15px;
        gap: 15px;
    }

    .column {
        width: 100%;
        padding: 0;
    }

    .item .label {
        padding-left: 5px;
        padding-top: 5px;
        text-align: center;
    }

    #project {
        margin: 0;
        padding: 0;
    }

    #contact {
        width: 75%;
    }

    .project {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }

    #project-details {
        width: 100%;
    }

    .description-columns {
        flex-flow: column-reverse;
    }

    #project-details img {
        width: 100%;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .social-icons {
        padding: 0;
    }

    h1 {
        font-size: 1.8rem;
    }

    .project-name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {

    #work-prev {
        height: 100vh;
    }

}